.beat {
    &.active {
        opacity: 75%;
    }
}

.bar {
    margin:1px;
     &.active
{
    background-image: linear-gradient(to right, #87929d, #9aa6b3);
    background-size: 100% 100%;
    background-repeat: no-repeat;
    background-position: top left;
    animation: fillFromTopLeft linear forwards;
    animation-iteration-count: infinite;
}
} 


@keyframes fillFromTopLeft {
    from {
        background-size: 0% 100%;
    }

    to {
        background-size: 100% 100%;
    }
}