@layer components{


.cards{
    display: flex;
    flex-direction: column;
}

.card{
margin-bottom: clamp(1.1rem, 4vh, 3.2rem);
    padding-block: clamp(1.1rem, 4vh, 3.2rem);
    padding-inline: clamp(0.5rem, 4vw, 1.2rem);
    background: #2c445f;
    border-radius: 15px;
        box-shadow:0px 0px 25px -10px #000;
}

h1{
    font-size: 13dvw
}

h2{
    margin-bottom: 1rem;
    font-size: clamp(1.2rem, 3vh, 2rem);
    padding-bottom: clamp(0.5rem, 1.3vh, 1.1rem);
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 0.2rem;
    font-weight: 400;

    :global(svg){
        width: 3dvh;
        height: 3dvh;
    }
}


p{
    font-size: clamp(0.8rem, 2vh, 1.2rem);
}
.logoChords{
    margin-left: 10dvw;
  color: #ececec;
}

.logoTrainer{
  color: #b0cdce;
}

.logoBg{
        position: absolute;
    top: 0;
    left: 20px;
    width: 100%;
    height: 100%;
    z-index: -1;
}

.logoWrapper {
position: relative;
    display: inline-block;
    padding-block: 9dvw;
    margin-left: -5dvw;
    margin-top:-1dvh;
}

:global(.lucide){
        display: inline;
    vertical-align: text-bottom;
}

}