@layer components{


.cards{
    display: flex;
    flex-direction: column;
}

.card{
margin-bottom: clamp(1.1rem, 4vh, 3.2rem);
    padding-block: clamp(1.1rem, 4vh, 3.2rem);
    padding-inline: clamp(0.5rem, 4vw, 1.2rem);
    background: #18191a;
    border-radius: 15px;
    box-shadow: #555 0 ;

    h2{
    margin-bottom: 1rem;
    font-size: clamp(1.2rem, 3vh, 2rem);
    padding-bottom: clamp(0.5rem, 1.3vh, 1.1rem);
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 0.2rem;
    font-weight: 300;
    color:#46aeff;

    svg{
        width: 3dvh;
        height: 3dvh;
        stroke-width: 1.5;
    }
}
}




p{
    font-size: clamp(0.8rem, 2vh, 1.2rem);
   
}
.logoChords{
    margin-left: 7dvw;
;
}

.logoTrainer{
  color: #46aeff;
}

.logoBg{
        position: absolute;
    top: 0;
    left: 25px;
    width: 100%;
    height: 100%;
    z-index: -1;
}

.logoWrapper {
position: relative;
    display: inline-block;
    padding-block: 9dvw;
    margin-top:-1dvh;

    svg{
        fill: #46aeff;
    }

    
h1{
        font-size: 14.5dvw;
        font-weight: 200;
        background-image: url("data:image/svg+xml;charset=UTF-8,%3csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 100 174'%3e%3cellipse cx='50' cy='35' rx='38' ry='25' fill='%2346aeff' stroke='%23FFF' stroke-width='0' stroke-opacity='0.02' transform='rotate(-15, 50, 35)'/%3e%3cellipse cx='50' cy='87' rx='38' ry='25' fill='%2346aeff' stroke='%23FFF' stroke-width='0' stroke-opacity='0.02' transform='rotate(-15, 50, 87)'/%3e%3cellipse cx='50' cy='139' rx='38' ry='25' fill='%2346aeff' stroke='%23FFF' stroke-width='0' stroke-opacity='0.02' transform='rotate(-15, 50, 139)'/%3e%3c/svg%3e");
        display: block;
        background-repeat: no-repeat;
        background-position: left 68%;
        background-size: auto 78%;
}
}

:global(.lucide){
        display: inline;
    vertical-align: text-bottom;
}

}