@layer theme{
.Backdrop {
  --backdrop-opacity: 0.5;
  --bleed: 3rem;
  position: fixed;
  min-height: 100dvh;
  inset: 0;
  background-color: #232323;
  opacity: calc(var(--backdrop-opacity) * (1 - var(--drawer-swipe-progress)));
  transition-duration: 450ms;
  transition-property: opacity;
  transition-timing-function: cubic-bezier(0.32, 0.72, 0, 1);

  @media (prefers-color-scheme: dark) {
    --backdrop-opacity: 0.7;
  }

  &[data-starting-style],
  &[data-ending-style] {
    opacity: 0;
  }

  &[data-swiping] {
    transition-duration: 0ms;
  }

  &[data-ending-style] {
    transition-duration: calc(var(--drawer-swipe-strength) * 400ms);
  }
}

.Viewport {
  position: fixed;
  inset: 0;
  display: flex;
  align-items: flex-end;
  justify-content: center;
}

.Popup {
  --bleed: 3rem;
  box-sizing: border-box;
  width: 100%;
  /*max-height: calc(80vh + var(--bleed));*/
  border-radius: 1rem 1rem 0 0;
  outline: 1px solid var(--color-gray-200);
  background: #0f0f0f;
  color: var(--color-gray-900);
  overflow-y: auto;
  overscroll-behavior: contain;
  transition: transform 450ms cubic-bezier(0.32, 0.72, 0, 1);
  will-change: transform;
  transform: translateY(var(--drawer-swipe-movement-y));

  &[data-swiping] {
    user-select: none;
  }

  @media (prefers-color-scheme: dark) {
    outline: 1px solid var(--color-gray-300);
  }

  &[data-starting-style],
  &[data-ending-style] {
    transform: translateY(calc(100% - var(--bleed) + 2px));
  }

  &[data-ending-style] {
    transition-duration: calc(var(--drawer-swipe-strength) * 400ms);
  }
}

.Content {
  width: 100%;
  max-width: 32rem;
  margin: 0 auto;
}

.Handle {
  width: 3rem;
  height: 0.25rem;
  margin: 0 auto 1rem;
  border-radius: 9999px;
  background-color: var(--color-gray-300);
}

.Title {
  margin-top: 0;
  margin-bottom: 0.25rem;
  font-size: 1.125rem;
  line-height: 1.75rem;
  letter-spacing: -0.0025em;
  font-weight: 500;
  text-align: center;
}

.Description {
  margin: 0 0 1.5rem;
  font-size: 1rem;
  line-height: 1.5rem;
  color: var(--color-gray-600);
  text-align: center;
}

.Actions {
  display: flex;
  justify-content: center;
  gap: 1rem;
}



.drawer-header{

    z-index: 9000;
    position: relative;
    margin: 1.5rem 0rem 1rem 0rem;
}


.drawer-footer{


    z-index: 9000;
    position: relative;
    padding: 1rem;
}
}
