.scrollable{
    height: 40vh;
    overflow-y: auto;
    border-top: solid 1px #555;
    border-bottom: solid 1px #555;
}


input{
    height: 2.5rem;
    border: none;
    border-radius: 15px;
    margin-bottom: 1.5rem;
    background: #1f2937;
    box-shadow: rgb(161 161 161) 0px -1px 2px 0px, rgb(0 0 0) 0px 3px 2px 0px, rgba(0, 0, 0, 0.95) 0px 20px 20px -10px;
}