@layer componnets{


.scrollable{
    height: 40dvh;
    overflow-y: auto;
    padding-block:0.5rem;
    margin: 1.5rem;
    border-top: 2px solid #2a364e;
    border-bottom: 2px solid #2a364e;
}


}
