@layer components{

    

.filter-group{
    display: flex;
    flex-direction: column;
    gap: 2rem;
    margin-top:1rem;
    margin-bottom:auto;
}

.filter{

}

.active-filters{
    button{
        margin: 0.6rem;
    }
}

.start-workout{


}
}
