@layer components{

.title {
      margin-bottom: 2rem;
      h2{
        color:#7ebcff;
      }
}

.footer {
    margin: 0 -2rem;
    display: flex;
    flex-direction: column;
    align-items: center;
}


.navigationButtons{
    display:flex;
}

.chord{
    padding: 0.5rem 0.5rem;
    color: #fff;
    font-weight: 600;
}

}