@import "tailwindcss";
@import "flowbite-react/plugin/tailwindcss";
@source "../.flowbite-react/class-list.json";

@theme {
    --font-sans: "Inter", ui-sans-serif, system-ui, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji";

    --animate-dynamic-step: dynamic-step  infinite;



/*    @keyframes dynamic-step {
        0%, 32% {
            transform: translateY(0);
        }

        33%, 64% {
            transform: translateY(-16.6%);
        }

        65%, 99% {
            transform: translateY(-33.2%);
        }
        
        100% {
            transform: translateY(-50%);
        }

    }*/
}

html,
body {
  @apply bg-white dark:bg-gray-950;

  @media (prefers-color-scheme: dark) {
    color-scheme: dark;
  }
}
