@layer components{
    .chords{

margin-bottom:1rem;
}

.container{
    display: flex;
    flex-direction: column;
}
.scale{
margin-bottom:1rem;
}


.buttonSpacing button{
        padding-inline: 0;
        width: 25%;
        margin-inline: 2%;
        display: inline;
    }


}
