@layer components{

    .container{
        margin-bottom:auto;
    }

 .numberLabel{
     
            font-size: clamp(1rem, 2.5vh, 1.5rem);
 }

.repeatBlock{
        display: flex;
        justify-content: center;
        align-items: center;
        gap: 2dvw;

        margin-top: 2rem;
        margin-bottom: 0.7rem;
 .numberLabel{
            display: flex;
            font-size: clamp(1rem, 2.5vh, 1.5rem);
            svg{
                display: inline-block;
                position: relative;
                top: 2px;
                width: 15px;
                 path{
                stroke-width: 2;
            }
            }
        }  
    }

    .bars{
        margin-block:3rem;
    }

    .bar{
        font-weight:300;
    display: flex;
        align-items: center;
       
        margin-bottom: 1dvh;

        
           .beat:first-child{
            border-top-left-radius: 20px;
             border-bottom-left-radius: 20px;
           }
           .beat:last-child{
             border-top-right-radius: 20px;
              border-bottom-right-radius: 20px;
           }           
        

       
   
        
    }   

    .beat{
        margin: 0;
        height: clamp(3.5rem, 9dvh, 4.5rem);
        padding: 0;
        border-radius: 0;
        font-size: 1.1rem;
        text-align: center;
        align-self: center;
        display: block;
        width: 100%;
        border-right: 1px solid #000000;


    }

    .tags{
        margin-bottom:2rem;
    }

    .repeatEnd{
        margin-bottom: 2rem;
    }
}